.hero-section {
    background-color: #2E2F42;
    
}
.hero-title {
    color: #FFFFFF;
    text-align: center;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    font-weight: 700;
}
.hero-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}